<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <th>박창규</th>
    <div>???</div>
    </thead>
    <tbody>
    <td>rrssss</td>
    <div>?????</div>
    <tb>rr</tb>
    </tbody>
    <tfoot>
    <tb></tb>
    </tfoot>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>
    <div>고우영</div>

</table>
</body>
</html>
안녕하세요?????????????????????????????????????